.badge.icon-badge-sm {
	height: 23px;
    width: 23px;
    border-radius: 4px;
    font-size: 1rem;
}

.max-width-1500 {
	max-width: 1500px !important;
}

.pr-30 {
	padding-right: 30px !important;
}

.pl-30 {
	padding-left: 30px !important;
}

.pointer {
	cursor: pointer;
}